@charset "UTF-8";
/********************************************************
* 0.common
* 1.header												*
* 2.content												*
* 3.footer												*
********************************************************/

/*---------------------------------------------------------------------------
	0.common
---------------------------------------------------------------------------*/
html, body {
	background: #ffffff;
	height: 100%;
	color: #333;
	line-height: 100%;
	text-align: center;
}

#wrap {
	width: 100%;
	margin: 0 auto -122px;
	position: relative;
	min-height: 100%;
	height: auto !important;
}

ul:after {
	content: ".";  /* 新しい要素を作る */
	display: block;  /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}
ul {
	min-height: 1px;
	zoom: 100%;
}

/* clearfix */
.clearfix { ⁄zoom: 1; }
.clearfix:after { content: ''; display: block; clear: both; }


/*---------------------------------------------------------------------------
	1.header
---------------------------------------------------------------------------*/
#header {
	background: url(../../img/common/header_bg.gif) repeat-x left top;
	width: 100%;
	height: 112px;
	clear: both;
	position: relative;
	margin-bottom: 30px;
}

#headerInner {
	width: 810px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

#header h1 {
	background: url(../../img/common/header_logo.jpg) no-repeat left top;
	width: 290px;
	height: 80px;
	position: relative;
	top: 19px;
	left: 0;
	text-indent: -9999em;
}

#header ul {
	position: absolute;
	top: 66px;
	right: 0;
}

#header li {
	float: left;
}

#header li a {
	height: 29px;
	font-size: 93%;
}

/*
.btn-manual a {
	display: block;
	background: url(../../img/common/btn_manual.gif) no-repeat center center;
	width: 100px;
	height: 28px;
	text-indent: -9999em;
	overflow: hidden;
}

.btn-faq a {
	display: block;
	background: url(../../img/common/btn_faq.gif) no-repeat center center;
	width: 100px;
	height: 28px;
	text-indent: -9999em;
	overflow: hidden;
}

.btn-contact a {
	display: block;
	background: url(../../img/common/btn_contact.gif) no-repeat center center;
	width: 101px;
	height: 28px;
	text-indent: -9999em;
	overflow: hidden;
	margin-right: 10px;
}
*/


.btn-faq {
	padding-top: 10px;
	margin-right: .5em;
}

.btn-contact {
	padding-top: 10px;
	margin-right: 1em;
}

.btn-regist a {
	display: block;
	background: url(../../img/common/btn_regist.png) no-repeat center center;
	width: 88px;
	text-indent: -9999em;
	overflow: hidden;
	margin-right: 3px;
}

.btn-registInfo a {
	display: block;
	background: url(../../img/common/btn_registinfo.png) no-repeat center center;
	width: 88px;
	text-indent: -9999em;
	overflow: hidden;
	margin-right: 3px;
}

.btn-mypage a {
	display: block;
	background: url(../../img/common/btn_mypage.png) no-repeat center center;
	width: 88px;
	text-indent: -9999em;
	overflow: hidden;
	margin-right: 3px;
}

.btn-login a {
	display: block;
	background: url(../../img/common/btn_login.png) no-repeat center center;
	width: 88px;
	text-indent: -9999em;
	overflow: hidden;
}

.btn-logout a {
	display: block;
	background: url(../../img/common/btn_logout.png) no-repeat center center;
	width: 88px;
	text-indent: -9999em;
	overflow: hidden;
}

#passward {
	background: url(../../img/common/arrow_r_01.png) no-repeat left center;
	position: absolute;
	top: 30px;
	right: 25px;
	padding-left: 11px;
}

.btn-manual a:hover { background: url(../../img/common/btn_manual_h.gif) }
.btn-faq a:hover { background: url(../../img/common/btn_faq_h.gif) }
.btn-contact a:hover { background: url(../../img/common/btn_contact_h.gif) }
.btn-regist a:hover { background: url(../../img/common/btn_regist_h.png) }
.btn-registInfo a:hover { background: url(../../img/common/btn_registinfo_h.png) }
.btn-mypage a:hover { background: url(../../img/common/btn_mypage_h.png) }
.btn-login a:hover { background: url(../../img/common/btn_login_h.png) }
.btn-logout a:hover { background: url(../../img/common/btn_logout_h.png) }

#header a { color: #747474; text-decoration: none; }
#header a:visited { color: #747474; }
#header a:hover { color: #747474; text-decoration: underline; }


/*---------------------------------------------------------------------------
	2.content
---------------------------------------------------------------------------*/
#content  {
	width: 810px;
	margin: 0 auto;
	padding-bottom: 100px;
	text-align: left;
	min-height: 1px;
	zoom: 100%;
}
#content:after {
	content: ".";  /* 新しい要素を作る */
	display: block;  /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}

#contentInner {
	margin: 0 auto;
}

.push {
	height: 122px;
}

h2 {
	background: #9abcbd;
	height: 30px;
	color: #fff;
	font-size: 108%;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 15px;
	padding-left: 1em;
}

.error,
.message {
	background: #ffa0c0;
	margin-bottom:10px;
	border:none;
}

.error legend,
.message legend {
	display: none;
}

.error ul,
.message ul {
	margin: .5em;
}

.error li,
.message li {
	font-size: 93%;
	line-height: 130%;
	font-weight: bold;
}

.error p,
.message p {
	padding: .5em;
}

.btn-area {
	text-align: center;
	margin-top: 50px;
}

.btn-area input {
	padding: .3em 1em;
	font-size: 131%;
}

.btn-area-left input {
	font-size: 123.1%;
}


/*---------------------------------------------------------------------------
	3.footer
---------------------------------------------------------------------------*/
#footer {
	background: url(../../img/common/footer_bg.gif) repeat-x left bottom ;
	bottom: 0;
	width: 100%;
	height: 122px;
}

#footerInner {
	width: 810px;
	position: relative;
	margin: 0 auto;
	text-align: left;
}

#footer ul {
	position: relative;
	top: 27px;
	left: 20px;
}

#footer li {
	float: left;
	color: #747474;
	font-size: 85%;
	padding-bottom: 5px;
}

#footer #copyright {
	position: absolute;
	right: 10px;
	top: 95px;
	color: #ffffff;
	font-size: 85%;
}

#footer a { color: #747474; text-decoration: none; }
#footer a:visited { color: #747474; }
#footer a:hover { color: #747474; text-decoration: underline; }






