﻿@charset "UTF-8";

/********************************************************
*														*
*					Base style CSS						*
*														*
*-------------------------------------------------------*
*	CSS information										*
*	file name  :  base.css								*
*	last edit  :  2010/11/08							*
*	style info :  全体のスタイル設定					*
********************************************************/
/*--------------------
		INDEX
----------------------
	1.Header
	2.Contents
	3.Footer
	4.Common Style
====================================================== */


html, body {
	color: #333;
	background: #EEE;
	text-align: center;
}

#wrapper {
	width: 946px;
	margin: 0 auto;
	text-align: left;
}

#error {
	font-size: 93%;
	line-height: 140%;
}

.valid_error {
    background:#ffc4d8;
    color:#000000;
    font-weight: bold;
    border: 2px solid #f56954;
    padding:3px;
}



/* ------------------------------------------------------
	1.Header
------------------------------------------------------ */
#header {
	width: 100%;
	color: #e4e4e4;
	background: #000;
}

.header-inner {
	width: 946px;
	margin: 0 auto;
	text-align: left;
	⁄zoom: 1;
}

.header-inner:after { content: ''; display: block; clear: both; }

#top {
	padding: 12px;
	background: #000;
	position: relative;
}

#logo {
	height: 30px;
	float: left;
	overflow: hidden;
}

#btn_logout {
	text-align: right;
	font-size: 93%;
}

#btn_logout a {
	padding: 2px 2px 2px 18px;
	text-decoration: none;
	display: inline-block;
	color: #6595c7;
	background: url(../../img/admin/common/logout_bg.gif) no-repeat 2px 50%;
}

#btn_logout a:hover {
	background: url(../../img/admin/common/logout_bg.gif) no-repeat 2px 50% #333;
}

#menuArea {
	width: 100%;
	background: #515151;
}

#menu {
	padding: 7px 0;
}

#menu li {
	margin-right: 24px;
	float: left;
	font-size: 93%;
	position: relative;
}

#menu li a {
	padding: 4px 6px 4px 22px;
	line-height: 28px;
	_line-height:24px;
	text-decoration: none;
	color: #e4e4e4;
	background: url(../../img/admin/common/menuList_bg.gif) no-repeat 5px 8px #333;
	overflow: hidden;
}

#menu li a:hover {
	background: url(../../img/admin/common/menuList_bg.gif) no-repeat 5px 8px #1c354b;
}

#menu li.menu ul {
	display: none;
}

#menu li li {
	margin: 0;
	padding: 0;
	line-height: 100%;
	white-space: nowrap;
	float: none;
	display: block;
	background: #222;
	border-bottom: 1px dotted #AAA;
}

#menu li li a {
	padding: 8px;
	line-height: 100%;
	background: #222;
	display: block;
}

#menu li li a:hover {
	background: #1c354b;
}

#menu li.menu_on ul {
	margin: 0 0 -1px;
	display: block;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 24px;
	background: #555;
}

#menu li#btn_top {
	padding: 0;
	background:	none;
}


#menu li#btn_top a {
	width: 120px;
	height: 24px;
	padding: 0;
	font-size: 12px;
	text-indent: -9999px;
	background: url(../../img/admin/common/btn_top.gif) no-repeat 0 0;
	display: block;
}

#menu li#btn_top a:hover {
	background-position: 0 -24px;
}



/* ------------------------------------------------------
	2.Contents
------------------------------------------------------ */
.contents {
	/*min-height: 450px;
	height: auto !important;
	height: 450px;*/
	padding: 20px 0 0;
	background: url(../../img/admin/common/bg.jpg) no-repeat 50% 0 #EEE;
}

#pageTitle {
	font-size: 167%;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
	padding-top: 10px;
	text-shadow: 1px 1px 1px #FFF;
}

#main {
	min-height: 500px;
	height: auto !important;
	height: 500px;
	margin: 0 0 15px;
	padding: 21px;
	background: url(../../img/admin/common/main_bg.png) no-repeat 0 0;
	⁄zoom: 1;
}

#main:after { content: ''; display: block; clear: both; }

#main h3 {
	color: #333;
	line-height: 200%;
	font-weight: bold;
	height: 30px;
	padding: 0 10px 0 28px;
	margin: 20px 0 10px;
	background: url(../../img/admin/common/ttlBar_l.png) no-repeat;
}

/* Error Massage
====================================================*/
.error, .message {
	margin-bottom: 20px;
	padding: 10px;
}



/* ------------------------------------------------------
	3.Footer
------------------------------------------------------ */
#footer {
	width: 100%;
	height: 48px;
	color: #FFF;
	background: #000;
}

#footer-inner {
	width: 946px;
	margin: 0 auto;
	padding: 12px 0;
}

#btn_top2 {
	float: left;
}


#btn_top2 a {
	width: 120px;
	height: 24px;
	padding: 0;
	font-size: 12px;
	text-indent: -9999px;
	background: url(../../img/admin/common/btn_top.gif) no-repeat 0 0;
	display: block;
	overflow: hidden;
}

#btn_top2 a:hover {
	background-position: 0 -24px;
}

#pageTop {
	text-align: right;
}

#pageTop a {
	padding: 2px 2px 2px 20px;
	text-decoration: none;
	display: inline-block;
	color: #6595c7;
	background: url(../../img/admin/common/pagetop_bg.gif) no-repeat 6px 50%;
}

#pageTop a:hover {
	background: url(../../img/admin/common/pagetop_bg.gif) no-repeat 6px 50% #333;
}



/* ------------------------------------------------------
	4.Common Style
------------------------------------------------------ */
.section {
	padding: 5px 5px 0;
	margin-bottom: 15px;
}

.box {

}

.embossLine {
	padding-bottom: 10px;
	margin-bottom: 10px;
	background:url(../../img/admin/common/embossLine.gif) repeat-x 0 100%;
	⁄zoom: 1;
}

.embossLine:after { content: ''; display: block; clear: both; }


/*	Table
================================================*/
.caption {
	margin-bottom: 5px;
}

.table-wrap {
	padding: 5px 5px 0;
	margin-bottom: 15px;
	background: url(../../img/admin/common/box_904_bg.png) repeat-y;
	clear: both;
}

.table-wrap .btm {
	margin: 0 -5px;
	height: 5px;
	overflow: hidden;
}

.table-wrap .btm img {
	vertical-align: top;
}

table {
	width: 894px;
}

td, th {
	border: 1px solid #e2dfd3;
	padding: 5px;
	background: none;
	font-size: 93%;
}

th {
	padding: 10px 5px;
	text-align: center;
	white-space: nowrap;
	color: #FFF;
	background: url(../../img/admin/common/th_bg.png) repeat-x 0 0 #333;
}

table th.btn {
	text-align: center !important;
}


/* TableStyle02 */
table.tableStyle02 th, table.tableStyle02 td {
	font-size: 93%;
	padding: 18px 14px;
	border-bottom: 1px solid #e2dfd3;
}

table.tableStyle02 th {
	width: 30%;
	padding: 18px 14px 18px 25px;
	text-align: left;
	color: #333;
	background: url(../../img/admin/common/create_th.png) repeat-x 0 0 #e9e9e9;
	border: 1px solid #c5c5c5;
}

table.tableStyle02 td {
	background: #fefdf9;
}

table.tableStyle02 .odd td {
	background: #f9f7ef;
}

table.tableStyle02 input {
	width: 300px;
}

table.tableStyle02 .btn input {
	width: auto;
}

td.center {
	text-align: center;
}

td.rignt {
	text-align: right;
}

.red {
	color: red;
}


/*	Button
================================================*/
.buttonArea {
	margin: 10px 0;
	⁄zoom: 1;
}
.buttonArea:after { content: ''; display: block; clear: both; }

#btn {
	text-align: center;
	font-size: 138.5%;
	padding: 14px;
	background: url(../../img/admin/common/th_bg.png) repeat-x 0 0 #333;
}

.back {
	margin: 5px 0;
}


/* 戻るボタン */
.btn_back {
	width: 66px;
	height: 33px;
	margin-right: 10px;
	background: url(../../img/admin/common/btn_back.png) no-repeat;
	float: left;
}

.btn_back a {
	width: 66px;
	height: 33px;
	text-indent: -9999px;
	display: block;
	background: url(../../img/admin/common/btn_back.png) no-repeat;
	overflow: hidden;
}

.btn_back a:hover {
	background: url(../../img/admin/common/btn_back.png) no-repeat 0 -33px;
}

div.btn_back {
	margin-bottom: 15px;
}


/* 新規作成ボタン */
.btn_create {
	float: left;
	margin-right: 20px;
}

.btn_create a {
	height: 33px;
	padding-left: 30px;
	line-height: 33px;
	font-size: 93%;
	text-decoration: none;
	display: inline-block;
	background: url(../../img/admin/common/btn_create.png) no-repeat 0 0;
}

.btn_create a span {
	height: 33px;
	padding-right: 11px;
	display: inline-block;
	background: url(../../img/admin/common/btn_r.png) no-repeat 100% 0;
}

.btn_create a:hover { background-position: 0 -33px; }
.btn_create a:hover span { background-position: 100% -33px; }


/* 追加ボタン */
.btn_add {
	float: left;
	margin-right: 20px;
}

.btn_add a {
	height: 33px;
	padding-left: 30px;
	line-height: 33px;
	font-size: 93%;
	text-decoration: none;
	display: inline-block;
	background: url(../../img/admin/common/btn_add.png) no-repeat 0 0;
}

.btn_add a span {
	height: 33px;
	padding-right: 11px;
	display: inline-block;
	background: url(../../img/admin/common/btn_r.png) no-repeat 100% 0;
}

.btn_add a:hover { background-position: 0 -33px; }
.btn_add a:hover span { background-position: 100% -33px; }


/* 削除ボタン */
.btn_delete {
	float: left;
	margin-right: 20px;
}

.btn_delete a {
	height: 33px;
	padding-left: 30px;
	line-height: 33px;
	font-size: 93%;
	text-decoration: none;
	display: inline-block;
	background: url(../../img/admin/common/btn_delete.png) no-repeat 0 0;
}

.btn_delete a span {
	height: 33px;
	padding-right: 11px;
	display: inline-block;
	background: url(../../img/admin/common/btn_r.png) no-repeat 100% 0;
}

.btn_delete a:hover { background-position: 0 -33px; }
.btn_delete a:hover span { background-position: 100% -33px; }


/* リセットボタン */
.btn_reset {
	float: left;
	margin-right: 20px;
}

.btn_reset a {
	height: 33px;
	padding-left: 30px;
	line-height: 33px;
	font-size: 93%;
	text-decoration: none;
	display: inline-block;
	background: url(../../img/admin/common/btn_reset.png) no-repeat 0 0;
}

.btn_reset a span {
	height: 33px;
	padding-right: 11px;
	display: inline-block;
	background: url(../../img/admin/common/btn_r.png) no-repeat 100% 0;
}

.btn_reset a:hover { background-position: 0 -33px; }
.btn_reset a:hover span { background-position: 100% -33px; }


/* IE8 ズレ修正 */
html>/**/body .btn_create a span,
html>/**/body .btn_add a span,
html>/**/body .btn_reset a span,
html>/**/body .btn_delete a span {
	background-position /*\**/: 100% -1px\9
}

html>/**/body .btn_create a:hover span,
html>/**/body .btn_add a:hover span,
html>/**/body .btn_reset a:hover span,
html>/**/body .btn_delete a:hover span {
	background-position /*\**/: 100% -34px\9
}


/*	Form
================================================*/
.disclaimer {
	color: red;
	font-size: 93%;
}

.input-btn {
	padding: .1em .5em;
}


/*	Pager
================================================*/
.pager ul {
	margin: 5px 0;
	clear: both;
	⁄zoom: 1;
}

.pager ul:after { content: ''; display: block; clear: both; }

.pager li {
	width: 33%;
	min-height: 12px;
	height: auto !important;
	height: 12px;
	float: left;
	display: inline;
}

.pager li.prev {
	text-align: left;
}

.pager li.page {
	text-align: center;

}
.pager li.next {
	_width: 32%;
	text-align: right;
}


/*	検索
================================================*/
.search-condition dt {
	width: 8em;
	float: left;
	min-height: 1em;
	height: auto;
	padding: .2em 0;
}

.search-condition dd {
	margin-left: 9em;
	_height: 1%;
	min-height: 1em;
	height: auto;
	padding: .2em 0;
}

.search-condition label {
	margin-right: 1em;
}

.search-condition select {
	margin-right: 3px;
}

