﻿@charset "UTF-8";

/********************************************************
*														*
*						Color CSS						*
*														*
*-------------------------------------------------------*
*	CSS information										*
*	file name  :  color.css								*
*	last edit  :  2010/10/28							*
*	style info :  色設定								*
********************************************************/
/*--------------------
		INDEX
----------------------
	1.Link
	2.Error

====================================================== */



/* ------------------------------------------------------
	1.Link
------------------------------------------------------ */
a {
	color: #496cbd;
	text-decoration: underline;
}

a:visited {
	color: #496cbd;
}

a:hover {
	text-decoration: none;
}



/* ------------------------------------------------------
	2.Error
------------------------------------------------------ */
.error, .message {
	background-color: #FF9999;
}

