﻿@charset "UTF-8";

/********************************************************
*														*
*						Format CSS						*
*														*
*-------------------------------------------------------*
*	CSS information										*
*	file name  :  format.css							*
*	last edit  :  2010/11/01							*
*	style info :  初期化およびbody基本設定				*
*	※このスタイルシートは基本的に変更しない	 		*
********************************************************/



/*---------------------------------------------------------------------------
	YUI fonts.css
---------------------------------------------------------------------------*/
/* ===================================
	■Yahoo UI Library Fonts CSS
	http://developer.yahoo.com/yui/license.html
	Copyright (c) 2010, Yahoo! Inc. All rights reserved.
	Code licensed under the BSD License:
	version: 2.8.2r1

	**フォントサイズ対応表**
	10px	77%
	11px	85%
	12px	93 (was 93)%
	13px	100%
	14px	108%
	15px	116%
	16px	123.1%
	17px	131%
	18px	138.5%
	19px	146.5%
	20px	153.9%
	21px	161.6%
	22px	167%
	23px	174%
	24px	182%
	25px	189%
	26px	197%
===================================== */

body {
	font:13px/1.231 "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Helvetica,"メイリオ","Meiryo","ＭＳ Ｐゴシック",sans-serif;
	/* for IE6/7 */
	/**font-size:small;*/
	/* for IE Quirks Mode */
	/**font:x-small;*/
}



/*---------------------------------------------------------------------------
	Browser style reset
---------------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
p,blockquote,table,th,td {margin: 0; padding: 0;}

html,body {background: #FFF; color: #000;}

img {border: 0; vertical-align: top;}

h1,h2,h3,h4,h5,h6 {clear: both; font-size: 100%; font-weight: normal;}

ul,dl,ol {text-indent: 0;}
li {list-style: none;}

address,caption,cite,code,dfn,em,strong,th,var {font-style: normal; font-weight: normal;}

sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}

input,textarea,select {font-family: inherit; font-size: inherit; font-weight:inherit;}
* html input,* html textarea,* html select {font-size: 100%;}
*:first-child+html+input,*:first-child html+textarea,*:first-child+html select {font-size: 100%;}

table {border-collapse: collapse; border-spacing: 0; font-size: inherit;}
th,td {text-align: left; vertical-align: top;}
caption {text-align: left;}

pre,code,kbd,samp,tt {font-family: monospace;}
* html pre,* html code,* html kbd,* html samp,* html tt {font-size: 100%; line-height: 100%;}
*:first-child+html pre,*:first-child html+code,*:first-child html+kbd,*:first-child+html+samp,*:first-child+html tt {font-size: 108%; line-height: 100%;}

input,select,textarea {font-size: 100%; font-family: Verdana, Helvetica, sans-serif; margin: 0; padding: 0;}


/* ------------------------------------------------------
	Clearfix
------------------------------------------------------ */
/* clearfix */
.clearfix { ⁄zoom: 1; }
.clearfix:after { content: ''; display: block; clear: both; }


/* ------------------------------------------------------
	invisible elements
------------------------------------------------------ */
hr {
	display:none;
}
