@charset "UTF-8";
/********************************************************
*														*
*					追加用 CSS						*
*														*
********************************************************/

/* 問診 タップ長押し対応 */
body#interview { 
-webkit-touch-callout: none;
-webkit-user-select: none;
}

/* 問診 メールアドレス登録画面 */

.input-area{
	width : 100%;
	margin : 0 auto;
	border : solid #6f969d 2px;
	background : #e7f0f2;
	text-align : center;
}
.input-area p{
	margin : 20px;
}
.input-area .coution{
	color : #3ca5ba;
}
.input-area p input[type=text]{
	width : 300px;
	height : 1.5em;
	font-size : 16px;
	padding : 0.2em;
}

.contents-area{
	width : 100%;
	margin : 0 auto;
}
.contents-area p{
	margin : 20px;
}