@charset "UTF-8";
/********************************************************
*														*
*					追加用 CSS						*
*														*
********************************************************/

.search-condition dt{
	width : 14em;
}

.input-area p input[type="text"] {
    font-size: 16px;
    height: 1.5em;
    padding: 0.2em;
    width: 90%;
}

.sendfollowupArea{
	width : 500px;
	text-align : right;
	float: right;
}
.sendfollowupArea input[type="text"]{
	width : 350px;
	height : 2em;
}
.bigbtn{
	height : 4em;
}


#popup-dialog {
  position:absolute;
  top:15%;
  width:900px;
  height:auto;
  background-color:#fff;
  -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.4);
  -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.4);
  box-shadow:0px 1px 2px rgba(0,0,0,0.4);
  z-index:1000;
  display:none;
}

#popup-dialog *:focus {
  outline:none;
}

#popup-dialog h3.title {
  padding:5px 40px;
  margin:0px 0px 0px 0px;
  position:relative;
}

#popup-dialog h3.title a {
  position:absolute;
  right:15px;
  text-decoration:none;
  cursor:pointer;
}

#popup-dialog .isi-dialog {
  margin:15px;
  font:normal 12px Arial,Sans-Serif;
}

#popup-dialog .button-wrapper {
  padding:10px 15px 0px;
  border-top:1px solid #ddd;
  margin-top:15px;
}

#popup-dialog .button-wrapper button ,
#popup-dialog h3.title a
{
  border:none;
  font:bold 12px Arial,Sans-Serif;
  color:#fff;
  padding:5px 10px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  cursor:pointer;
}

#popup-dialog .button-wrapper button {
  background-color:#FF0C39;
}
#popup-dialog h3.title a {
  background-color:#696969;
  padding:3px 0.6em;
}

#popup-dialog .button-wrapper button:hover,
#popup-dialog h3.title a:hover {
  background-color:#aaa;
}
#popup-dialog #loading{
	text-align : center;
	
}

#dialog-overlay {
  position:fixed !important;
  position:absolute;
  z-index:999;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color:#000;
  display:none;
}

/* Iframe */
#iframeContainer iframe {
  width:100%;
  height:1px;
  border:none;
  background-color:#cccccc;
  overflow:auto;
}