@charset "UTF-8";

/********************************************************
*														*
*					Login style CSS						*
*														*
*-------------------------------------------------------*
*	CSS information										*
*	file name  :  base.css								*
*	last edit  :  2010/11/08							*
*	style info :  Login page styles						*
********************************************************/

#adminLogin {
	height: 620px;
	text-align: center;
}

#loginBox {
	width: 302px;
	margin: 120px auto;
	background: url(../img/admin/login/login_bg.png) 0 0;
}

#loginBox-inner {
	padding: 10px;
}

#loginBox h2 {
	padding: 10px 5px;
	text-align: center;
	color: #FFF;
	background: url(../img/admin/common/ttl_bg.png) repeat-x 0 0 #333;
}

#loginBox dl {
	padding: 10px;
	border-bottom: 1px solid #e2dfd3;
}

#loginBox dt {
	width: 75px;
	float: left;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	line-height: 150%;
}

#loginBox dd {
	text-align: left;
}

#loginBox dd input {
	width: 160px;
}

#btn_login {
	text-align: center;
}

#btn_login input {
	border: 0px;
	width: 94px;
	height: 33px;
	margin: 10px auto 0;
	background: url(../img/admin/login/btn_login.png) 0 0 no-repeat;
	display: block;
	text-indent: -9999px;
	cursor: pointer;
}

/* Operaのみ適用 */
*+html:first-child body #btn_login input {
	padding-left: 300px; /*適当*/
}

#btn_login input:hover {
	background-position: 0 -33px;
}

#loginBox .btm {
	height: 10px;
	overflow: hidden;
}