@charset "UTF-8";

/********************************************************
*														*
*					Base style CSS						*
*														*
*-------------------------------------------------------*
*	CSS information										*
*	file name  :  base.css								*
*	last edit  :  2010/11/08							*
*	style info :  Individual page styles				*
********************************************************/
/*--------------------
		INDEX
----------------------
	1.adminIndex
	2.accountList
	3.accountEntry
	4.interviewList
	5.interviewDetail
	6.printHistory

====================================================== */

/* ------------------------------------------------------
	1.adminIndex
------------------------------------------------------ */
#adminIndex .section {
	background: url(../img/admin/common/box_904_bg.png) repeat-y;
	padding: 5px 5px 0;
	margin-bottom: 15px;
}

#adminIndex #main .section h3 {
	height: 30px;
	margin: 0;
	padding: 0 10px 0 28px;
	line-height: 30px;
	font-weight: normal;
	background: url(../img/admin/common/ttlBar.png) no-repeat;
}

#adminIndex .section .btm {
	margin: 0 -5px;
	height: 5px;
	overflow: hidden;
}

#adminIndex .section .btm img {
	vertical-align: top;
}

#adminIndex .section li a {
	font-size: 93%;
	padding: 14px;
	border-bottom: 1px solid #e2dfd3;
	display: block;
	zoom: 1;
}

#adminIndex .section li.stripe_odd a {
	background: #f9f7ef;
}

#adminIndex .section li a:hover {
	background: #f4f1e6;
}

#adminIndex .table-wrap2 table {
	width: 847px;
}

#adminIndex .section form {
	font-size: 93%;
	padding: 14px;
	border-bottom: 1px solid #e2dfd3;
	display: block;
	zoom: 1;
}


/* ------------------------------------------------------
	2.accountList
------------------------------------------------------ */
#accountList table {
	width: 100%;
}

#accountList .column1 { width: 8%; text-align: center; }
#accountList .column2 { width: 12%; }
#accountList .column3 { width: 16%; }
#accountList .column4 { width: 20%; }
#accountList .column5 { width: 20%; }
#accountList .column6 { width: 12%; }
#accountList .column7 { width: 12%; text-align: center; }


/* ------------------------------------------------------
	3.accountEntry
------------------------------------------------------ */
#accountEntry table {
	width: 100%;
	background: #fff;
}

#accountEntry th {
	width: 30%;
	background: #f8f8f8;
	color: #333;
	text-align: left;
	border: 1px solid #e2dfd3;
	padding: 10px;
}

#accountEntry td {
	width: 70%;
	padding: 10px;
}

#accountEntry #main p {
	margin-bottom: .5em;
}

.required {
	color: #ff0000;
	margin-right: .2em;
}

.arbitrary {
	display: inline-block;
	width: 1em;
	margin-right: .2em;
}

#accountEntry th .caution {
	display: inline-block;
	font-size: 93%;
	margin-left: .3em;
}


/* ------------------------------------------------------
	4.interviewList
------------------------------------------------------ */
#interviewList .column1 {width: 9%;}
#interviewList .column2 {width: 10%;}
#interviewList .column3 {width: 20%;}
#interviewList .column4 {width: 15%;}
#interviewList .column5 {width: 16%;}
#interviewList .column6 {width: 10%;}
#interviewList .column7 {width: 10%;}
#interviewList .column8 {width: 10%;}


/* ------------------------------------------------------
	5.interviewDetail
------------------------------------------------------ */
.interviewData dt {
	width: 6em;
	float: left;
	min-height: 1em;
	height: auto;
}

.interviewData dd {
	margin-left: 7em;
	_height: 1%;
	min-height: 1em;
	height: auto;
}

.doctorView table {
	width: 100%;
	background: #fff;
}

.doctorView th {
	width: 50%;
	background: #f8f8f8;
	color: #333;
	text-align: left;
	border: 1px solid #e2dfd3;
	padding: 2px 10px;
	white-space: normal;
}
/*Straight 20130719*/
.doctorView th.edit {
	width: 40px;
	vertical-align : middle;
}

.doctorView td {
	width: 50%;
	padding: 2px 10px;
}

.patientView {
	background: #ffffff;
	border: 1px solid #bfbfbf;
	margin-bottom: 15px;
}

.patientView dl {
	margin: 0 20px;
	padding-bottom: 20px;
}


/* 円グラフ */
#chart1 {
	position: relative;
}

#chart1 p {
	position: absolute;
	bottom: 30px;
	left: 240px;
	z-index: 999;
	font-size: 93%;
}

/* 印刷 */
#instruction-area {
	width: 864px !important;
	*width: 784px !important;
	margin: 20px;
}


/* ------------------------------------------------------
	6.printHistory
------------------------------------------------------ */
#printHistory .column1 {width: 16%; text-align: center;}
#printHistory .column2 {width: 16%;}
#printHistory .column3 {width: 16%;}
#printHistory .column4 {width: 16%;}
#printHistory .column5 {width: 16%;}
#printHistory .column6 {width: 20%;}



/*---------------------------------------------------------------------------
	7.followupDetail
---------------------------------------------------------------------------*/
#followupDetail dt {
	background: url(../img/title_bg_result.png) repeat-x left top;
	font-size: 123.1%;
	margin: 1.5em 0.5em;
	padding: 0 0 0 30px;
	line-height: 20px;
	font-weight: bold;
}

#followupDetail dt span {
	background: #ffffff;
	padding: 0 15px 0 0;
}

#followupDetail dd {
	margin: 1.5em 0.5em;
}

#followupDetail p {
	text-align: right;
	margin-bottom: .5em;
}

#followupDetail textarea {
	width: 600px;
}


