@charset "UTF-8";
/********************************************************
*														*
*				メール本文修正 CSS						*
*														*
********************************************************/

/* 問診 メールアドレス登録画面 */

.mail-input-area input{
	position: relative;
	padding: 2px;
	margin-top: 7px;
	width : 80%;
	vertical-align:middle;
}

.mail-input-area textarea{
	width : 95%;
	height: 300px;
}

.mail-input-area table {
	width: 894px;
}

.mail-input-area th {
	width: 40%;
	background: #f8f8f8;
	color: #333;
	text-align: left;
	border: 1px solid #e2dfd3;
	padding: 15px 10px;
	white-space: normal;
}

.mail-input-area td {
	border: 1px solid #e2dfd3;
	padding: 5px;
	background: none;
	font-size: 93%;
}

.mail-display-area table {
	width: 894px;
}

.mail-display-area th {
	width: 40%;
	background: #f8f8f8;
	color: #333;
	text-align: left;
	border: 1px solid #e2dfd3;
	padding: 15px 10px;
	white-space: normal;
}

.mail-display-area td {
	border: 1px solid #e2dfd3;
	padding: 15px 10px;
	background: none;
	font-size: 93%;
}


.mail-comment {
	border: 1px solid #C0C0C0;
	margin: 10px 0px 0px 0px;
	padding: 5px;
	background: #ffffff;
	width: 95%;
}
