@charset "UTF-8";
/********************************************************
*														*
*					For PC CSS							*
*														*
********************************************************/

/*---------------------------------------------------------------------------
	問診結果
---------------------------------------------------------------------------*/
#interviewResult h2 {
	display: block;
	background: url(../img/common/title_bg_g.gif) no-repeat left top;
	height: 37px;
	margin-bottom: 30px;
	padding: 2px 0 0 25px;
	color: #747474;
	font-size: 123.1%;
	line-height: 37px;
	font-weight: bold;
}

#interviewResult dt {
	background: url(../img/title_bg_result.png) repeat-x left top;
	font-size: 123.1%;
	margin: 1.5em 0 .5em 0;
	padding: 0 0 0 30px;
	line-height: 20px;
	font-weight: bold;
}

#interviewResult dt span {
	background: #ffffff;
	padding: 0 15px 0 0;
}

#interviewResult table {
	width: 100%;
	margin-top: 1em;
}

#interviewResult th {
	background-image: none;
	background-color: #f1f1f1;
	border: none;
	border: 2px solid #cfcfcf;
	border-bottom: 1px solid #e2dfd3;
	width: 20%;
	color: #333;
	padding: 3px 0;
	text-align: center;
}

#interviewResult td {
	border: none;
	border-right: 2px solid #cfcfcf;
	border-left: 2px solid #cfcfcf;
	border-bottom: 2px solid #cfcfcf;
	text-align: center;
	padding: 4px 0;
}

#interviewResult .empty {
	background-color: #fff !important;
	border-bottom: none;
	border-right: none;
}

.jqplot-data-label {color:#000; font-weight:bold;}
table.jqplot-table-legend {width:100px !important; border:0 !important; margin-right:1em !important;}
table.jqplot-table-legend td {text-align:left !important; margin:0 !important; padding:0 !important; border:0 !important; font-size:123.1%;}
div.jqplot-table-legend-swatch-outline {border:0 !important;}
div.jqplot-table-legend-swatch {width:1.0em !important; height:1.0em !important; margin:0 !important; padding:0 !important;}


/* 円グラフ */
#interviewResult #chart1 {
	position: relative;
}

#interviewResult #chart1 p {
	position: absolute;
	bottom: 30px;
	left: 240px;
	z-index: 999;
	font-size: 93%;
}

/* 特記事項 */
#interviewResult #instruction-area {
	width: 100%;
	margin-top: 20px;
}

#interviewResult #instruction-area h3 {
	background: none !important;
	width: 46em;
	height: auto;
	font-size: 108%;
	font-weight: bold;
	line-height: 100%;
	margin: 0 0 .5em 0;
	padding: 0;
}

#interviewResult #instruction-area h3 span {
	color: #bbb;
	margin-left: .5em;
}

#interviewResult #instruction-area textarea {
	display: block;
	width: 51em;
	width: 47em\9; /*IE8*/
	margin-bottom: 2em;
	padding: 2px;
	overflow:hidden;
	font-size: 13px !important;
	line-height: 100%;
	height: 5em;
}
*:first-child+html #interviewResult #instruction-area textarea { width: 54em; } /*IE7*/
:root #interviewResult #instruction-area textarea { width: 48em \0/IE9;  } /* IE9 */
#interviewResult #instruction-area textarea,  x:-moz-any-link { width: 51em; } /* Firefox */


#interviewResult #instruction-area p {
	text-align: right;
	margin-bottom: .5em;
}



