* {
	margin:0;
	padding:0;
}
body {
	-webkit-user-select: none;
	font-size:100%;
	text-align: center;
	color: #333;
	background: #f0f0ce;
}
p {
	line-height:1.4em;
}
p + p {
	text-indent:2em;
}
li {
	list-style-type: disc;
	list-style-position: inside;
	line-height: 1.4;
	margin-bottom: 5px;
}
pre {
	display: block;
	margin: 1em 0 0 0;
	width: 488px;
}
pre code {
	background: #eee;
	display: block;
	padding: 10px;
}
.r {
	float: right;
	padding: 0 0 10px 20px;
}

.error {
	color: red;
	font-weight: bold;
	line-height: 140%;
}

input {
	font-size: 180%;
	padding: 10px;
}
select {
	font-size: 180%;
}

label {
font-size:150%;
}
td {
font-size:150%;
}
span.ipad-label {
font-size: 150%;
}

/* Landscape mode (default) */
#wrap {
	margin: 0 auto;
	width: 1024px;
	position: relative;
	overflow:hidden;
	text-align: left;
	background: #fff;
}
.wrap {
	display: none;
}

#header {
	width:1024px;
	padding:5px 0 15px 0;
	background: #FFF;
	border-bottom: 1px dotted ;
}
#header h1 {
	padding: 10px 30px 0 30px;
}
#header p {
	padding: 0 30px;
	line-height: 1.4em;
}
#content {
	width: 1024px;
	background: #FFF;
}
#main {
	padding: 0 20px 20px 40px;
	position: relative;
}
#footer {
	clear: both;
	float: left;
	width: 1024px;
	border-top: 1px solid #cdcdb9;
	background: #d2d2c1;
	padding: 20px 0;
	text-align: center;
	line-height: 100%;
}
#footer p {
	padding: 5px 0 0 0;
}

.clearfix:after {
	content: ".";  /* 新しい要素を作る */
	display: block;  /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}


/* ----------------------------------------------------
	Detail styles
---------------------------------------------------- */
h1 {
	color: #65afaf;
	text-align: center;
}

h2 {
	margin-left: -20px;
	margin-top: 6em;
	margin-bottom: 10px;
	padding: 3px 0 3px 40px;
	font-size: 1.5em;
	background: url(../img/h3_bg.gif) no-repeat 0 100%;
}

h2.question_followed{
	margin-top: 2em;
}

h3 {
	margin: 10px 0;
}

.lead {
	padding: 5px 0;
	font-size: 16px;
	color: #000;
}

.cautions {
	padding: 5px 0;
	font-size: 16px;
	color: red;
}

#pager {
	text-align: center;
	padding: 30px;
	font-size: 200%;
}


/* Button
======================================== */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color: #234d4e;
	background: url(../img/btn_bg.png) repeat-x #91dfe0 0 50%;
	border: 1px solid #75c2c3;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover {
	color: #234d4e;
	background: url(../img/btn_bg_hover.png) repeat-x #91dfe0 0 50%;
	border: 1px solid #2e7273;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #2e7273;
	color: #FFF;
	background: url(../img/btn_bg_select.png) repeat-x 0 50%;
	font-weight: bold;
}
.ui-tabs-selected a, .ui-tabs-selected a:link, .ui-tabs-selected a:visited,
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #FFF;
}
.ui-button-text-only .ui-button-text {
	padding: 1.2em 0.6em;
}




/* Slider
======================================== */

.minus, .plus {
	cursor: pointer;
	vertical-align: middle;
}

.amount {
	border: 0;
	color: #234d4e;
	font-weight: bold;
	width: 100px;
}

.amount_blind {
	border:0;
	color: #d9eeee;
	background: #d9eeee;
	font-weight:bold;
	width:0px;
}

.slider {
	width: 600px;
	background: #d9eeee;
	padding: 10px;
}

.slider:after {
	content: ".";  /* 新しい要素を作る */
	display: block;  /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}

.slider {
	min-height: 1px;
}

.slider .sliderImage {
	float: left;
	padding-right: 20px;
}

.slider .sliderMain {
	float: left;
}

.ui-slider {
	border: 3px solid #FFF;
	margin-top: 10px;
	height: 10px;
	background: #9eeaeb;
}

.ui-widget-header {
	background: #989898;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-top: -5px;
}

.ui-slider .ui-slider-handle {
	width: 26px;
	height: 26px;
}

.slider_bl {
	padding: 10px 0;
	border-top: 1px solid #2e7273;
}

.slider_bl label {
	font-size: 120%;
}



.ui-button {
	min-width: 120px;
}


#l_105 .ui-button ,
#l_172 .ui-button {
	width: 470px;
	margin-bottom: 5px;
	text-align: left;
}

#l_106 .ui-button,
#l_107 .ui-button,
#l_108 .ui-button,
#l_109 .ui-button,
#l_110 .ui-button,
#l_111 .ui-button,
#l_112 .ui-button,
#l_113 .ui-button,
#l_114 .ui-button,
#l_115 .ui-button,
#l_116 .ui-button,
#l_117 .ui-button{
	width: 228px;
	margin-bottom: 5px;
}


#l_126 .ui-button,
#l_128 .ui-button ,
#l_129 .ui-button ,
#l_130 .ui-button ,
#l_131 .ui-button ,
#l_132 .ui-button ,
#l_133 .ui-button ,
#l_134 .ui-button ,
#l_135 .ui-button ,
#l_136 .ui-button ,
#l_137 .ui-button ,
#l_138 .ui-button ,
#l_139 .ui-button ,
#l_140 .ui-button ,
#l_141 .ui-button ,
#l_142 .ui-button ,
#l_143 .ui-button ,
#l_144 .ui-button ,
#l_145 .ui-button ,
#l_146 .ui-button ,
#l_147 .ui-button ,
#l_148 .ui-button ,
#l_152 .ui-button {
	width: 280px;
	margin-bottom: 5px;
}

#l_150 .ui-button {
	margin-bottom: 5px;
}

#l_169 .ui-button ,
#l_191 .ui-button {
	width: 940px;
	margin-bottom: 5px;
	text-align: left;
}

#l_183 .ui-button {
	width: 230px;
	margin-bottom: 5px;
	text-align: left;
}

.hidden_item {
	margin-top: 5px;
	line-height: 1.5;
}



/* 可変値の表示領域 */
.slider_input {
	border:0;
	color:#f6931f;
	width: 250px;
}



/*	アコーディオンメニュー
======================================== */
.ui-accordion .ui-accordion-content {
	width: auto;
}

/*	タブメニュー
======================================== */
.tabs{
	background-image:none;
	background-color:#FFF;
}

.tablabel{
	font-size: 1.3em;
	padding: 3px 10px;
}
.tablabel0.ui-state-default {
	background-image:none;
	background-color:#e5d54a;
	border: 1px solid #989898;
}
.tablabel0.ui-tabs-selected {
	border: 1px solid #655E4E;
}
.tablabel1.ui-state-default {
	background-image:none;
	background-color:#fd9e58;
	border: 1px solid #989898;
}
.tablabel1.ui-tabs-selected {
	border: 1px solid #655E4E;
}
.tablabel2.ui-state-default {
	background-image:none;
	background-color:#f59898;
	border: 1px solid #989898;
}
.tablabel2.ui-tabs-selected {
	border: 1px solid #655E4E;
}
.tablabel3.ui-state-default {
	background-image:none;
	background-color:#49cbeb;
	border: 1px solid #989898;
}
.tablabel3.ui-tabs-selected {
	border: 1px solid #655E4E;
}
.tabcontent{
}
.tabcontent0{
	background-color:#e5d54a !important;
}
.tabcontent1{
	background-color:#fd9e58 !important;
}
.tabcontent2{
	background-color:#f59898 !important;
}
.tabcontent3{
	background-color:#49cbeb !important;
}


/*  診断結果
======================================== */
#back {
	position: absolute;
	left: 20px;
	top: 2em;
}

dt {
	font-weight: bold;
	font-size: 1.1em;
	margin-left: -20px;
	margin-bottom: 5px;
	margin-top: 1.5em;
	padding: 5px 0 5px 30px;
	background: url(../img/title_bg_result.gif) no-repeat 0 50%;
}

dt span {
	background: #FFF;
	padding: 5px 5px 5px 0;
}

.graph_tbl {
	margin-top: 10px;
}

.graph_tbl td {
	font-size: 13px;
}

.label td {
	text-align: center;
}


/* ------------------------------------------------------
	問診 #Interview
------------------------------------------------------ */
h2 {
	margin-top: 5em;
}

#interview p + p {
	text-indent: 0;
}

#interview dt,
#interview dd {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

#interview dt {
	font-weight: normal;
	background: none;
}


#interview select {
	padding: 0 10px;
}

#interview .btn-area {
	width: 940px;
	text-align: center;
	margin-top: 20px;
	padding: 30px 0;
	font-size: 1.5em;
}

#interview .lead {
	margin-left: 1em;
}

/* 薬剤師用画面 */
#interview .btn-area-l {
	float: left;
	width: 310px;
	margin-top: -25px;
	text-align: left;
}

#interview .btn-area-l input {
	font-size: 100% !important;
	padding: 0;
}


#interview .btn-area-r {
	float: right;
	width: 310px;
	margin-top: -25px;
	text-align: right;
}

#interview .btn-area-r input {
	font-size: 100%;
}

#interview .btn-area-c {
	float: left;
	width: 320px;
	margin-top: -25px;
}

.btn-area-top {
	width: 940px;
	margin-top: 2.5em;
}

#interview table {
	width: 940px;
	margin-top: 2.5em;
}

#interview table th {
	width: 7em;
	background: #EEEEEE;
	font-size: 100%;
	padding: 0.5em 1em;
}

#interview table td {
	font-size: 100%;
	padding: 0.5em 1em;
}

#interview table td .lead {
	font-size: 80%;
}

#interview table .ui-button-text-only .ui-button-text {
	padding: 0.6em 0.6em;
}

#interview table.login {
	font-size: 120%;
}

#interview table.list {
	border-collapse: collapse;
	border: 1px solid #234d4e;
	margin-top: 1em;
}

#interview table.list th {
	/*background: #d9eeee;*/
	border-top: 1px solid #234d4e;
	border-bottom: 1px solid #234d4e;
	border-right: 1px solid #234d4e;
	text-align: center;
	padding: 0.3em 0;
}

#interview table.list td {
	border-top: 1px solid #234d4e;
	border-bottom: 1px solid #234d4e;
	border-right: 1px solid #234d4e;
	padding: 0.3em;
}

#interview table.dot {
	border-right: 1px dotted #234d4e;
}

#interview div.list  {
	width: 940px;
	background: #EEEEEE;
	padding: 0px 0 0px;
	font-size: 77%;
}

#interview div.list dl {
}

#interview div.list dt {
	/*clear: left;*/
	float: left;
	width: 70px;
	font-weight: normal;
	padding: 4px;
	background: none;
	background: #CCCCCC;
}

#interview div.list dd {
	float: left;
	width: 149px;
	padding: 4px;
}

#interview div.list .w02 {
}

#interview div.list .w02 dt {
	width: 45px;
}

#interview div.list .w02 dd {
	width: 174px;
}

#interview .list-ttl {
	width: 940px;
	margin: 1em 0 0.5em 0;
	padding: 0;
	font-size: 0.8em;
	font-weight: bold;
}

#interview .search_result {
	float: right;
}

#interview .sub-item input {
	margin-left: 20px;
}

#interview .sub-item label {
	font-size: 120%;
}

#interview .sub-item .small {
	margin-left: 20px;
}

#interview #birth_date_gengou label {
}

p#search-trigger {
	margin-top: 30px;
}


/* 患者用画面 */
.description-box {
	margin: 0 40px;
	padding: 0;
}

.description-box h2 {
	background: none;
	margin: 0 0 5px -20px;
	padding: 0;
	font-size: 1.2em;
}

.description-box p {
	font-size: 1.2em;
}

.description-box ol {
	background: #ffffcc;
	margin: 15px 0;
	padding: 15px 20px;
}

.description-box li {
	list-style-type: decimal;
	font-size: 1.2em;
	font-weight: bold;
}

.description-box li li {
	list-style-type: disc;
	padding-left: 1.5em;
	font-size: 1.0em;
	font-weight: normal;
}

.description-box .icon {
	margin-bottom: -8px;
}

#language {
	margin: 20px 20px 0 0;
	text-align: right;
}

#language li {
	display: inline-block;
	list-style-type: none;
}

#language input {
	width: 7em;
	font-size: 0.8em;
	margin: 0 0 0 10px;
	padding: 3px 0;
}

#interview h2.top {
	margin-top: 1.5em;
}

#interview .error {
	margin-left: 1em;
}

#interview .confirmation {
	margin-top: 2.5em;
	font-size: 1.5em;
}

#interview .options .ui-button {
	min-width: 228px;
	margin-bottom: 5px;
}

#interview-main div {
	margin-bottom: 25px;
}

#interview ul.error {
	margin: 0;
	padding: 0;
}

#interview ul.error li {
	list-style-type: none;
}

.small {
	font-size: 80%;
}

.center {
	text-align: center;
}

.ruby {
	display: block;
	font-size: 0.8em;
}

p strong {
	color: #f6931f;
	font-size: 150%;
}

.annotation {
	margin: 0 0 6px 20px;
}

.choice-annotation {
	background: url(../img/arrow_u.png) no-repeat  0 40%;
	margin: 20px 0 5px 10px;
	padding: 0 0 0 20px;
}

.memo {
	color: #666666;
	margin: 2em 0 0 1em;
}


/*
#interview table td .radioset {
	font-size: 67%;
}

p.description {
	margin-top: 2.5em;
	font-size: 1.5em;
}

*/


.annotation-overlay .overlayBox {
	display:none;
	background-color:#fff;
	width: 35em;
	position: relative;
	border: solid 8px #ccc;
	padding: 1.5em 1em;
	border-radius:5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-webkit-box-shadow: #59698F 1px 1px 30px;
	-moz-box-shadow: #59698F 1px 1px 30px;
	box-shadow: #59698F 1px 1px 30px;
	z-index: 9999;
}

.annotation-overlay .overlayBox h3 {
	margin: 0 0 1em 0;
}

.annotation-overlay .overlayBox .close {
	background-image: url("../img/close.png");
	width: 35px;
	height: 35px;
	position: absolute;
	top: 5px;
	right: 7px;
	cursor: pointer;
	text-indent: -9999px !important;
	/*position: absolute;
	bottom: 5px;
	right: 5px;
	display: block;
	border: #ccc solid 2px;
	background: #eee;
	width: 6em;
	margin-top: 2em;
	padding: 0 0;
	text-align: center;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	font-size: 1.8em;
	cursor:pointer;*/
}

.annotation-overlay a.trigger {
	background: url("../img/question.png") no-repeat 0 0;
	display: block;
	line-height: 36px;
	margin: 0 0 0 16px;
	padding: 3px 0 0 38px;
	color: #f6931f;
	font-weight: bold;
	cursor:pointer;
	overflow: none;
	outline: none;
}


.rescription-content {
	width: 940px;
	margin-top: 2.5em;
	border: 1px solid #0000ff;
	color: #0000ff;
}

.rescription-content li {
	float: left;
	list-style-type: none;
	width: 50%;
	margin: 5px 0;
	text-indent: 1em
}

@media only screen and (orientation:portrait){
	#wrap,
	#header,
	#footer {
		width: 768px;
	}
	#content {
		width: 768px;
		left: 0;
		background: #fff;
	}
	#main {
		/*float: left;
		width: 768px;
		position: relative;
		right: 0;
		left: 30px;
		padding: 20px 0;*/
	}

	.btn-area {
		width: 705px;
		font-size: 150%;
	}

	#interview .options .ui-button {
		min-width: 171px;
		max-width: 768px ;
		margin-bottom: 5px;
	}

	table.list,
	#language,
	.btn-area-top {
		width: 705px;
	}

	table.list th {
		font-size: 80%;
	}

	table.list td {
		font-size: 80%;
	}
}

