@charset "UTF-8";
/********************************************************
*														*
*					For Print CSS						*
*														*
********************************************************/

body {
	font:11px/1.231 "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Helvetica,"メイリオ","Meiryo","ＭＳ Ｐゴシック",sans-serif;
}
html, body {
	color: #000000;
}

#header { display: none; }
#footer { display: none; }
.btn-area { display: none; }
#print-btn { display: none; }
#popup-dialog {display : none;}
.notprint-wrap{display: none;}

#content {
	border: 1px solid #000;
	padding: 20px 0;
}

h2 {
	font-size: 13px;
	margin: 0 20px;
	padding: 0;
}


#interviewResult dl {
	margin: 20px;
}

#interviewResult dt {
	width: 100%;
	margin: 3em 0 .5em 0;
	font-size: 108%;
	font-weight: bold;
	border-bottom: 2px dotted #666;
}

#interviewResult dd {
	margin: .5em;
}

.result-food table {
	width: 100%;
	margin-top: 1em;
}

.result-food th {
	width: 20%;
	background: #f4f4f4;
	padding: 3px;
	border: 1px solid #666;
	text-align: center;
}

.result-food td {
	width: 20%;
	padding: 3px;
	border: 1px solid #666;
	text-align: center;
}

.empty {
	background-color: #fff !important;
	border-bottom: none !important;
	border-right: none !important;
}

#chart1 {
	position: relative;
}

#chart1 p {
	position: absolute;
	bottom: 30px;
	left: 240px;
	z-index: 999;
	font-size: 93%;
}

#chart1 table, #chart1 th, #chart1 td {
	border: none;
	font-size: 100%;
}

#instruction-area h3 {
	font-weight: bold;
	margin-top: 2em;
}

#instruction-area h3 span { display: none; }

#instruction-area {
	margin: 0 20px;
}

#instruction-area textarea {
	display: block;
	width: 50em;
	border: 1px solid #666;
	margin-bottom: 3em;
	padding: 3px;
	overflow: auto;
}

#instruction-area p {
	width: 100%;
	text-align: right;
	margin-bottom: .5em;
}

#instruction-area p span {
	border-bottom: 1px solid #666;
}

#instruction-area p input {
	text-align: right;
	border: none;
	border-bottom: 1px solid #666;
}

#instruction-area p input#name {
	text-align: right;
}



/**/
#interviewDetail h2 {
	margin: 0 0 2em 0 !important;
}

.buttonArea { display: none; }

.interviewData {
	margin-bottom: 1em;
}

.interviewData dt {
	width: 6em;
	float: left;
	min-height: 1em;
	height: auto;
}

.interviewData dd {
	margin-left: 7em;
	_height: 1%;
	min-height: 1em;
	height: auto;
}

.btm { display: none; }

.doctorView {
	margin-bottom: 50px;
}

.doctorView table {
	font-size: 93%;
	margin-left: 1px;
}

.doctorView th {
	background: #f4f4f4;
	width: 50%;
	border: 1px solid #666;
	padding: 2px 5px;
}

.doctorView td {
	width: 50%;
	border: 1px solid #666;
	padding: 2px 5px;
}

.patientView {
	border: 1px solid #000;
}


/*---------------------------------------------------------------------------
	フォローアップ問診
---------------------------------------------------------------------------*/
.result-followup table {
	width: 100%;
	margin-top: 1em;
}

.result-followup tr{
	border-top: 2px solid #cfcfcf;
	height: 75px;
}

.result-followup td {
	padding: 30px;
/*	width: 350px;*/
	width: 50%;
	border-style: solid;
	border: 1px solid #cfcfcf;
	text-align: center;
}

.result-followup_bg{
	background-color: #f1f1f1;
}

.history-link-list {
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
	padding: 7px 0px;
	margin: 5px;
	border-color: #cadecb;
	color: green;
	background-color: #cadecb;
	width: 90px;
}

a.history-link {
	text-decoration: none;
}
a.history-link:link {
	color: #000000;
}
a.history-link:visited {
	color: #000000;
}
a.history-link:hover {
	color: #000000;
}
a.history-link:active {
	color: #000000;
}


/*---------------------------------------------------------------------------
	フォローアップ診断結果閲覧
---------------------------------------------------------------------------*/
#followupDetail dt {
	background: url(../img/title_bg_result.png) repeat-x left top;
	font-size: 123.1%;
	margin: 1.5em 0.5em;
	padding: 0 0 0 30px;
	line-height: 20px;
	font-weight: bold;
}

#followupDetail dt span {
	background: #ffffff;
	padding: 0 15px 0 0;
}

#followupDetail dd {
	margin: 1.5em 0.5em;
}

#followupDetail p {
	text-align: right;
	margin-bottom: .5em;
}

#followupDetail textarea {
	width: 600px;
}
