
@charset "UTF-8";
/********************************************************
*														*
*					For PC CSS							*
*														*
********************************************************/


/*---------------------------------------------------------------------------
	ログイン
---------------------------------------------------------------------------*/
#interviewLogin h2 {
	display: none;
}

#interviewLogin #contentInner {
	background: url(../img/login_bg.gif) no-repeat center top;
	width: 360px;
	height: 230px;
	margin: 70px auto 0;
	padding: 20px 0px 0px;
	position: relative;
}

#interviewLogin #contentInner p {
	text-align: center;
}

#interviewLogin #contentInner p.btn-login  {
	width: 110px;
	margin: 0 auto;
}

#interviewLogin #contentInner p.btn-login input  {
	background: url(../img/btn_login.gif) no-repeat center top;
	width: 110px;
	height: 30px;
	display: block;
	text-indent: -9999px;
	cursor: pointer;
	border: 0;
}

#interviewLogin #content table {
	width: 300px;
	background: #ffffff;
	border: 2px solid #ececec;
	margin: 15px auto 15px;
}

#interviewLogin #content th {
	width: 100px;
	padding: 12px 0;
	border-top: 2px solid #ececec;
	border-bottom: 2px solid #ececec;
	font-weight: bold;
	text-align: right;
}

#interviewLogin #content td {
	width: 200px;
	padding: 12px 0;
	border-top: 2px solid #ececec;
	border-bottom: 2px solid #ececec;
}

#interviewLogin #content td input {
	width: 12em;
	margin-left: .5em;
	padding: 2px;
}

#interviewLogin .error,
#interviewLogin .message {
	margin-bottom: -50px;

}


/*---------------------------------------------------------------------------
	問診タイプ選択
---------------------------------------------------------------------------*/
#edition #contentInner ul {
}

#edition #contentInner li {
	font-size: 108%;
	text-indent: .5em;
	border-bottom: 1px dotted #d6d6d6;
	padding: 5px 0;;
}




/*---------------------------------------------------------------------------
	問診
---------------------------------------------------------------------------*/
/* Javascript有効無効で表示切替用 */
.js #noscript {
	display: block;
	background: #ffa0c0;
	width: 500px;
	margin: 0 auto;
	padding: .5em 0;
}
.js #noscript p {
	line-height: 140%;
}
.js #content {
	display: none;
}


#interview #contentInner {
	width: 750px;
}

#interview h2 {
	display: block;
	background: url(../img/common/title_bg_g.gif) no-repeat left top;
	height: 37px;
	margin-bottom: 30px;
	padding: 2px 0 0 25px;
	color: #666666;
	font-size: 123.1%;
	line-height: 37px;
	font-weight: bold;
}

#interview h3 {
	background: url(../img/h3_bg.gif) no-repeat left 70%;
	margin-top: 50px;
	margin-bottom: 10px;
	padding: 10px 0 10px 40px;
	font-size: 138.5%;
	font-weight: bold;
	line-height: 120%;
}

#interview h3.small {
	font-size: 131%;
}

#interview h3.top {
	margin-top: 0;
}

#interview p.user-confirm {
	font-size: 123.1%;
}

#interview p.lead {
	margin: 10px;
	line-height: 120%;
}

#interview p.lead img {
	width: 28px;
	margin-right: .3em;
}

#interview .text {
	width: 60%;
	font-size: 116%;
	padding: .2em;
}

#interview select {
	font-size: 116%;
	padding: 2px;
}

.choice-lowlayer {
	float: left;
	padding-right: 3px;
}

.choices, .choices-full, .choices-half, .choices-third, .choices-quarter  {
	margin-bottom: 5px;
}

#interview .choice-lowlayer .choices,
#interview .choice-lowlayer .choices-full,
#interview .choice-lowlayer .choices-half,
#interview .choice-lowlayer .choices-third,
#interview .choice-lowlayer .choices-quarter {
	margin-bottom: 0 !important;
}

.compulsoryInputError {
	background: #ffa0c0;
	line-height: 130%;
	font-weight: bold;
	margin-top: -20px;
	margin-bottom: 30px;
	padding: .5em 0;
}

.compulsoryInputError ul {
	margin: 0 .5em;
}


.annotation-overlay a.trigger {
	display: block;
	background: url("../img/arrow_r2.png") no-repeat 0 0;
	margin: .5em 0 1em 10px;
	padding-left: 13px;
}

.annotation-overlay .overlayBox {
	display:none;
	background-color:#eee;
	min-width: 450px;
	max-width: 880px;
	position: relative;
	border: solid 5px #888;
	/*border-radius:5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-webkit-box-shadow: #59698F 1px 1px 30px;
	-moz-box-shadow: #59698F 1px 1px 30px;
	*/
	box-shadow: #59698F 1px 1px 10px;
	z-index: 9999;
	padding: 20px;
}

.annotation-overlay .overlayBox h4 {
	border-bottom: 1px solid #ccc;
	margin: 0 0 .5em 0;
	padding: 0 0 .5em 0;
	font-weight: bold;
}

.annotation-overlay .overlayBox img {
	/*max-width: 600px;*/
}

.annotation-overlay .overlayBox .close {
	background: url("../img/icon_close.png") no-repeat 0 0;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 8px;
	right: 10px;
	cursor: pointer;
	text-indent: -9999px !important;
	/*position: absolute;
	bottom: 5px;
	right: 5px;
	display: block;
	border: #ccc solid 2px;
	background: #eee;
	width: 6em;
	margin-top: 2em;
	padding: 0 0;
	text-align: center;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	font-size: 1.8em;
	cursor:pointer;*/
}

/* Button
======================================== */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color: #234d4e;
	background: url(../img/btn_bg.png) repeat-x #91dfe0 0 50%;
	border: 1px solid #75c2c3;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover {
	color: #234d4e;
	background: url(../img/btn_bg_hover.png) repeat-x #91dfe0 0 50%;
	border: 1px solid #2e7273;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #2e7273;
	color: #FFF;
	background: url(../img/btn_bg_select.png) repeat-x 0 50%;
	font-weight: bold;
}
.ui-tabs-selected a, .ui-tabs-selected a:link, .ui-tabs-selected a:visited,
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #FFF;
}
.ui-button {
	min-width: 120px;
	margin: 0 0 5px 0;
}
.ui-button-text-only .ui-button-text {
	padding-left: 10px;
	padding-right: 10px;
}

.choices-full .ui-button {width: 100%; text-align: left;}
.choices-half .ui-button {width: 370px;}
.choices-third .ui-button {width: 245px;}
.choices-quarter .ui-button {width: 182px;}


/* Slider
======================================== */
.ui-slider {
	border: 3px solid #FFF;
	margin-top: 10px;
	height: 10px;
	background: #9eeaeb;
	width: 310px;
}
.ui-widget-header {
	background: #989898;
}
.ui-slider-horizontal .ui-slider-handle {
	margin-top: -5px;
}
.ui-slider .ui-slider-handle {
	width: 24px;
	height: 24px;
}

.slider-wrapper {
	background: #f4f4f4;
	border-bottom: 2px solid #ffffff;
	margin: 0 10px;
	padding: 10px;
}

.tabs .slider-wrapper {
	margin: 0 10px;
	padding: 10px 20px;
}

.slider-wrapper:after {
	content: ".";  /* 新しい要素を作る */
	display: block;  /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}
.slider-wrapper {
	min-height: 1px;
	zoom: 100%;
}

.slider-wrapper p.lead {
	margin: 0 0 .5em 0;
}

.sliderImage {
	float: left;
	padding-right: 20px;
}

.sliderImage img {
	width: 80px;
}

.sliderMain {
	float: left;
}

.slider-wrapper label {
	display: block;
	font-size: 116%;
	padding-bottom: .5em;
}

.slider {
	width: 410px;
}

.slider_input {
	padding: .2em;
	/*border:0;*/
	color:#f6931f;
	font-size: 123.1%;
	width: 250px;
}

.minus,
.plus {
	cursor: pointer;
	vertical-align: middle;
	width: 37px;
	height: 37px;
}

.choices, .choices-full,.choices-half .ui-button, .choices-third, .choices-quarter  {
	margin-bottom: 5px;;
}


/*	タブ
======================================== */
.ui-tabs { border: none; padding: 0px; }
.ui-tabs .ui-tabs-nav { background: none; border: none; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; margin: 0 auto; padding: 15px 0; background: none; border: 1px solid #655E4E; border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.tabs {
	background-image:none;
	background-color:#FFF;
}

.tablabel {
	/*font-size: 1.3em;*/
	padding: 3px 30px;
}
.tablabel0.ui-state-default {
	background-image:none;
	background-color:#779fc2;
	border: 1px solid #989898;
}
.tablabel0.ui-tabs-selected {
	border: 1px solid #655E4E;
}
.tablabel1.ui-state-default {
	background-image:none;
	background-color:#eda5b0;
	border: 1px solid #989898;
}
.tablabel1.ui-tabs-selected {
	border: 1px solid #655E4E;
}
.tablabel2.ui-state-default {
	background-image:none;
	background-color:#efca79;
	border: 1px solid #989898;
}
.tablabel2.ui-tabs-selected {
	border: 1px solid #655E4E;
}
.tablabel3.ui-state-default {
	background-image:none;
	background-color:#acbe74;
	border: 1px solid #989898;
}
.tablabel3.ui-tabs-selected {
	border: 1px solid #655E4E;
}

.tabcontent{
}
.tabcontent0 {
	background-color:#779fc2 !important;
}
.tabcontent1 {
	background-color:#eda5b0 !important;
}
.tabcontent2 {
	background-color:#efca79 !important;
}
.tabcontent3 {
	background-color:#acbe74 !important;
}


/*	アコーディオン
======================================== */
.ui-accordion {
	width: 95%;
	margin: 0 auto;
}

.ui-accordion .ui-accordion-content {
	background: #f4f4f4;
	padding-left: 0;
	padding-right: 0;
}


/*---------------------------------------------------------------------------
	問診結果
---------------------------------------------------------------------------*/
#interviewResult h2 {
	display: block;
	background: url(../img/common/title_bg_g.gif) no-repeat left top;
	height: 37px;
	margin-bottom: 30px;
	padding: 2px 0 0 25px;
	color: #747474;
	font-size: 123.1%;
	line-height: 37px;
	font-weight: bold;
}

#interviewResult #contentInner {
	width: 750px;
}


/*---------------------------------------------------------------------------
	フォローアップ問診
---------------------------------------------------------------------------*/
.result-followup table {
	width: 100%;
	margin-top: 1em;
}

.result-followup tr{
	border-top: 2px solid #cfcfcf;
	height: 75px;
}

.result-followup td {
	padding: 30px;
/*	width: 350px;*/
	width: 50%;
	border-style: solid;
	border: 1px solid #cfcfcf;
	text-align: center;
}

.result-followup_bg {
	background-color: #f1f1f1;
}

.history-link-list {
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
	padding: 7px 0px;
	margin: 5px;
	border-color: #cadecb;
	color: green;
	background-color: #cadecb;
	width: 90px;
}

a.history-link {
	text-decoration: none;
}
a.history-link:link {
	color: #000000;
}
a.history-link:visited {
	color: #000000;
}
a.history-link:hover {
	color: #000000;
}
a.history-link:active {
	color: #000000;
}

.change-input-area{
	width : 100%;
	margin : 0 auto;
/*	border : solid #6f969d 2px;*/
/*	background : #e7f0f2;*/
	text-align : center;
}
.change-input-area p{
	margin : 20px;
}
.change-input-area .coution{
	text-align : left;
}
.change-input-area p input[type=text]{
	width : 300px;
	height : 1.5em;
	font-size : 16px;
	padding : 0.2em;
}

#step  {
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	display: block;
	text-align: center;
}

#step a {
	padding:6px 20px;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

#step a:hover {
	text-decoration: none;
	
}

#step li {
	display: inline;
	float: left;
	width: 90px;
	height: 25px;
	padding-top:7px;

}

.bgs {
	background: url(../img/previrer/previrer_02.png) no-repeat left top;
}

.bg1a {
	background: url(../img/previrer/previrer_01.png) no-repeat left top;
}
.bg1b {
	background: url(../img/previrer/previrer_01_o.png) no-repeat left top;
}
.bg1b:hover {
	opacity:0.7;
}

.bg2a {
	background: url(../img/previrer/previrer_02.png) no-repeat left top;
}
.bg2b {
	background: url(../img/previrer/previrer_02_o.png) no-repeat left top;
}
.bg2b:hover {
	opacity:0.7;
}


.bg3a {
	background: url(../img/previrer/previrer_03.png) no-repeat left top;
}
.bg3b {
	background: url(../img/previrer/previrer_03_o.png) no-repeat left top;
}
.bg3b:hover {
	opacity:0.7;
}

.action_interview_question li {
	float: left;
	width: 40%;
	padding: 0 35px;
}
